/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;  
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/

/* New Clear Fix - See https://perishablepress.com/lessons-learned-concerning-the-clearfix-css-hack/ */
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #787878;
  color: black;
  font-family: "Abel", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
  font-weight: normal;
  line-height: 1.5;
  
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;  
}

.container {
  width: 100%;  
  margin: 0 auto;
  padding: 0 20px; 
}

.heading_container {
  width: 100%;   
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;  
  
  #border: 2px solid blue;
}


.drop-shadow {  
	#box-shadow: 0px 0px 10px 3px #444; 
	box-shadow: 0 0 10px 1px #444;
} 

.text-shadow { 
	text-shadow: 1px 1px 1px black;
}

/* ============================================================
  SECTIONS
============================================================ */

/* section.module:last-child {
  margin-bottom: 0;
} */

 h2 {
  margin-bottom: 25px;
  font-family: "Abel", "Roboto Slab", serif;
  font-size: 250%;
  font-weight: normal;
  border-bottom: 3px solid red;   
  display: inline-block; 
   color: #333;
}

 p {
  margin-bottom: 40px;
  font-size: 125%;
  font-weight: normal; 
}

section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  #margin: 40px 0;
  padding: 40px 0;
  position: relative; 
  z-index: 9999; 
  #box-shadow: 0px 0px 10px 3px #444;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section_heading_old{
  display: inline-block;  
  padding: 0px 20px;
  font-size: 3em;  
  line-height: 1.3em;
  font-family: "Abel", "Roboto Slab", serif;
  background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0) );  
  position: relative; 
  top: 80px;   
  left: 0px;
  color: white;  
  text-align: center;
  text-transform: uppercase;  
  border-left: 3px solid red;
  border-right: 3px solid red;
  border-radius: 10px;
}

.section_heading {	
	font-size: 3em;  
    line-height: 1.3em;
    font-family: "Abel", "Roboto Slab", serif;
	text-transform: uppercase;  
	color: white;		
	
	padding: 20px 40px;
	margin: 40px 0px;	
	border: 1px solid white;
	#border-radius: 3px;	
	background: rgba(0,0,0,0.3); 	
}

section.module.parallax-1 {
  #background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.0) 20% ), url("../images/group1.jpg");  
  background:  url("../images/group.jpg");  
 background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;				
  height: 900px;
}

section.module.parallax-2 {
  background-image: url("../images/fire.jpg");
  height: 800px;
}
section.module.parallax-3 {
  background-image: url("../images/main_event2.jpg");
  height: 1080px;
}
section.module.parallax-4 {
  background-image: url("../images/group_boats.jpg");
  height: 960px;
}

section.module.parallax-5 {
  background-image: url("../images/marsh.jpg");
  height: 960px;
}

section.module.parallax-6 {
  background-image: url("../images/2015_7.jpg");
  height: 960px;
}

#waysToHelpHeaderl {    
	background:  url("../images/way_to_help.jpg");  
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;				
	height: 600px;
}



/* ============================================================
  BRAND
============================================================ */

.brand_container { position: absolute; top: 20px; width: 725px; margin: 0 auto; padding: 0px; left: 50%; margin-left: -350px;
				   background: rgba(255, 255, 255, 0.5); box-shadow: 0 0 4px 1px #333; } 
.brand_container span { position: relative; display: block; margin-left: 83px; padding-left: 10px; font-size: 3em;	
		background: url("../images/background_paper.jpg") no-repeat; border: 1px solid #ccc; text-shadow: 0 0 1px black;}
.brand_image { position: relative; width: 85px; height: 65px; float: left; z-index: 9999;}
.brand_image img { width: 100%; height: 100%; display: block; }	
		
@media all and (max-width: 950px) {
	.brand_container { width: 435px; text-align: center; margin-left: -200px;}		
	.brand_container span { font-size: 2.35em; margin-left: 130px;}
	.brand_image { width: 130px; height: 98px; }

	.stats { width: 100px; }
}
			
@media all and (max-width: 550px) {
	.brand_container { width: 335px; text-align: center; margin-left: -167px;}		
	.brand_container span { font-size: 1.9em; margin-left: 130px;}
	.brand_image { width: 130px; height: 119px; }

	.stats { width: 100%; margin: 0px; }
	.stats hr { width: 100%; }	
	
	#whoWeAre p { font-size: 1em;  }
}
			
@media all and (max-width: 350px) {	
	.brand_container { width: 250px; height: 200px; text-align: center; box-shadow: none; margin-left: -125px; padding: 0px; 
					   box-shadow: 0 0 4px 1px #777, 0 0 2px 1px #aaa; top: 5px;}		
	.brand_container span { font-size: 2.4em; margin: 0 auto; padding: 0; background: none; width: 240px; height: 200px;
							position: relative; top: -199px; left: 0px; z-index: 9999; color: white; border: none;
							text-shadow: 0 0 7px black;}
	.brand_image { width: 250px; height: 200px; position: relative; margin: 0 auto; float: none; 
					background: url('images/background_paper.jpg') no-repeat; z-index: 7777;}	

	.stats { width: 100%; margin: 0px; }
	.stats hr { width: 100%; }			
}				


.info_container {
    position: absolute;     
    width: 100%;;
    top: 59%;
    font-size: 200%;
    background-color: rgba(0,96,128, 0.7);
    text-align:center;
    color: white;
    padding: 100px 40px; 
    font-family: 'Black Ops One', cursive;
    border-top: 1px solid teal;
}

.info_container ul { list-style-type: none; }
.info_container .big { font-size: 250%; }


#fixed_nav {
    border: none;    
    #box-shadow: 1px 3px 4px #000;
    width: 100%;
    height: 55px;
    z-index: 99999; 
    white-space: nowrap;   
    transition: 1.0s background-color;     
}

#fixed_nav a { text-decoration: none; color: white; border: none; }

#fixed_nav ul { list-sytle-type: none;  overflow-y: hidden;  font-family: "Ubuntu";}
#fixed_nav li { background-color: rgba(0,0,0, 0.2); color: white; font-size: 140%; font-family: "Abel"; padding: 12px 0px;  float: left; width: 20%; display: inline; 
                text-align: center; transition: 1s all; border-radius: 2px; text-shadow: 1px 2px 1px black; text-transform: uppercase; }
#fixed_nav li:last-child {  background-color: rgba(255, 0, 0, 0.4); text-shadow: 1px 2px 1px black;}

#fixed_nav li:hover { background-color: forestgreen; }
#fixed_nav li.active { background-color: #222; border: 2px solid #aaa; }


.default_top { position: absolute; top: 90%; }
.sticky_top { position: fixed; top: 0px; }  
.filler_big { margin-bottom: 60px; }

#pointer {
    font-size: 2.5em;    
    position:relative;
    top: -27px;   
    left: -10%;
    border: none;
    z-index: 99999;
    width: 40px;
    text-shadow: 0 3px #aaa;  
    transition: 1.0s all;
}

#pointer span { color: #222; }


/* ============================================================
 MEDIA QUERIES
============================================================ */
@media all and (max-width: 1050px) {
	 .section_heading { font-size: 2em; padding: 40px 0px; width: 100%; text-align: center; }
	 .heading_container { padding: 40px; }	 
	 
	 section.module.parallax {
	  height: 800px;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  background-attachment: scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
    
    .info_container { top: 56.5%; font-size: 175%; }  
    #fixed_nav li { font-size: 125%; }
    .default_top { position: absolute; top: 80%; }
    
    section.module.parallax-3  { height: 1100px; }
    section.module.parallax-4  { height: 1000px; }
  

	 h2 {
	  margin-bottom: 25px;
	  font-family: "Abel", "Roboto Slab", serif;
	  font-size: 200%;
	  font-weight: normal;
	  border-bottom: 3px solid red;   
	  display: inline-block; 
	}	
}

@media all and (max-width: 550px) {	
	 .section_heading { font-size: 2em; padding: 10px 0px; width: 100%; text-align: center; }
	 .heading_container { padding: 10px; }	
    
     .info_container { top: 35%; font-size: 150%; padding: 50px; }
     #fixed_nav li { font-size: 100%; }
    
	 
	 h2 {  text-align:  center; font-size: 165%;  }
	 p { font-size: 140%; } 	 
}

@media all and (max-width: 350px) {	
						
}		
